* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

#character-description p, h3{
    text-align: center;
    color: white;
    display: inline-block;
}
#character-description p{
    margin-bottom: 20px;
}
p, h2, a {
    color: white;
    display: inline-block;
}

body {
    padding: 20px;
}

header, footer {
    padding: 10px;
}

#main-div {
    margin-left: 10.5%; /* adjust the margin to match the width of the sidebar */
    padding: 20px;
}

#wrapper-div {
    margin-left: 10.5%; /* adjust the margin to match the width of the sidebar */
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4b0c;
    padding: 20px;
    margin-bottom: 10px;
}

#logo-div {
    flex: 5;
}

#logo-div img {
    height: 60px;
}

#nav-div {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-div a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: white;
    transition: background-color 0.3s ease;
}

#sidebar-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 10.5%;
    height: 100vh;
    background-color: #0f0f49;
    padding: 20px;
}

#sidebar-div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#nav-div li {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

#sidebar-div li {
    margin-bottom: 20px;
    text-align: left;
}

#sidebar-div a {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#sidebar-div a:hover {
    text-decoration: underline;
}

#main-div {
    margin-left: 0%;
    padding: 10px;
}

#bodyarea-div {
    width: 100%;
    min-height: 400px;
    background-color: #0c4b0c;
    text-align: center;
    line-height: 30px;
}

#headerbanner-div {
    width: 70%;
    min-height: 100px;
    background-color: black;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}


#headerbanner-div img {
    width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#footer-div {
    min-height: 40px;
    width: 99%;
    background-color: #0c4b0c;
    text-align: center;
    line-height: 20px;
    padding-left: 5%;
    margin-left: 0.6%;
}

#footer-div img {
    width: 250px;
}